<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<header>
    <head th:include="common/_header.html::commonHeader('探头报警历史')"/>
</header>
<body>
<div class="page-container">
    <form id="sForm" name="sForm" method="post">
        <div class="text-l">
            部门名称：
            <select name="departmentId" id="departmentId" class="input-text" style="width: 200px;">
                <!-- <option value="-1">全部</option>
                <option th:each="h:${departmentList}" th:value="${h.departmentId}" th:text="${h.departmentName}"></option> -->
            </select>

            主机名称：
            <select name="hostId" id="hostId" class="input-text" style="width: 200px;" onchange="hostSelectOnChange()" >
            </select>

            检测点名称：
            <select name="probeBh" id="probeBhId" class="input-text" style="width: 200px;"></select><br><br>
            时间：
            <input type="text" name="startTime" class="input-text " id="startTimeId" readonly="readonly" style="width: 150px;"
            		th:value="${#dates.format(startTime, 'yyyy-MM-dd HH:mm:ss')}"
                   onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
            --
            <input type="text" name="endTime" class="input-text " id="endTimeId" readonly="readonly" style="width: 150px;" 
            		th:value="${#dates.format(endTime, 'yyyy-MM-dd HH:mm:ss')}"
                   onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})">

            报警值范围：
            <input type="text" name="startAlarmValue" class="input-text " id="startAlarmValueId" style="width: 150px;">
            --
            <input type="text" name="endAlarmValue" class="input-text " id="endAlarmValueId" style="width: 150px;">

            <button type="button" onclick="queryDate()" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
            <button type="button" onclick="toExcel()" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i>导出</button>

        </div>
        <br>
        <div id="main" style="border: 1px solid #ECECEC ; "></div>
        <input type="hidden" name="authority" id="authority">
    </form>
</div>

</body>
<script type="text/javascript">
	$("#authority").val(parent.$("#authority").val());
	common_ajax.defaultFunc("/userQx/selectAuthority", {"authority": parent.$("#authority").val()}, function (response) {
        $('#probeBhId').empty();
        $('#departmentId').empty();
        if (response.body.length == 0) {
            layer.msg("当前用户没有权限");
            return;
        }
        //$('#departmentId').append("<option value=\"-1\">---</option>");
        for (var i = 0; i < response.body.length; i++) {
            $('#departmentId').append("<option value=\"" + response.body[i].departmentId + "\">" + response.body[i].departmentName + "</option>");
        }
	})
    fff();
	$("#departmentId").bind("change",function(){
    	fff();
	});
	function fff() {
		$("#hostId").empty();
    	$('#probeBhId').empty();
    	//$("#hostId").append('<option value="-1">---</option>');
    	if($("#departmentId").val()==-1||$("#departmentId").val()==null) return;
    	common_ajax.defaultFunc("/host/findSelective", {"departmentId":$("#departmentId").val()},function (response) {
    		if(response.body.length<=0) return;
			for(var i=0;i<response.body.length;i++){
				$("#hostId").append('<option value="'+response.body[i].hostId+'">'+response.body[i].hostName+'</option>');
			}
		});
    	hostSelectOnChange();
	}
	hostSelectOnChange();
    function hostSelectOnChange() {
    	if($("#departmentId").val()==-1||$("#departmentId").val()==null) return;
        common_ajax.defaultFunc("/probe/findSelective", {"hostId": $('#hostId').val()}, function (response) {
            $('#probeBhId').empty();
            if (response.body.length == 0) {
                layer.msg("当前主机下没有探头");
                return;
            }
            //$('#probeBhId').append("<option value=\"-1\">全部</option>");
            for (var i = 0; i < response.body.length; i++) {
                $('#probeBhId').append("<option value=\"" + response.body[i].probeBh + "\">" + response.body[i].probeName + "</option>");
            }
        })
    }

    function queryDate() {
        if($('#departmentId').val() ==null||$('#departmentId').val() ==''|| $('#departmentId').val() == -1){
        	layer.msg("请选择部门")
            return
        }
        if($('#departmentId').val() ==null||$('#hostId').val()==''|| $('#hostId').val() == -1){
        	layer.msg("请选择主机")
            return
        }
        /* if($('#probeBhId').val()==''|| $('#probeBhId').val() == -1){
        	layer.msg("请选择检测点")
            return
        } */
        if($('#startTimeId').val() ==''|| $('#endTimeId').val() == ''){
            layer.msg("请选择日期")
            return
        }
        var startTime = new Date($('#startTimeId').val());
        var endTime = new Date($('#endTimeId').val());
        if(startTime>endTime){
        	layer.msg("请输入正确的日期")
            return
        } 
        if((endTime-startTime)/3600000>25) {
        	layer.msg("数据量较大，查询时间范围应小于24小时")
            return
        }
        /* layer.msg("数据量较大，查询中，请稍等") */
         $.ajax({
            type: "post",
            url: "/askAlarmRecords/probeAlarm",
            data: {"probeBh": $('#probeBhId').val(),
                "hostId": $('#hostId').val(),
                "startTime": $('#startTimeId').val(),
                "endTime": $('#endTimeId').val(),
                "startAlarmValue": $('#startAlarmValueId').val(),
                "endAlarmValue": $('#endAlarmValueId').val(),
                "departmentId":$('#departmentId').val(),
                "authority": $('#authority').val()},
            dataType: "html",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            //async: false,
            cache: false,
            success: function (response) {
            	if(response == "") layer.msg("所选探头暂无数据");
                $('#main').empty();
                $("#main").html(response)
            }
        }); 
    }

    function toExcel(){
        if($('#startTimeId').val() == ''|| $('#endTimeId').val() == ''){
            layer.alert("请选择日期")
            return
        }
        document.sForm.action="/askAlarmRecords/probeAlarmExcel";
        document.sForm.submit();
    }

</script>
</html>