<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<header>
    <head th:include="common/_header.html::commonHeader('人员管理')"/>
</header>
<body>
<article class="page-container">
    <form id="sForm" name="sForm" class="form form-horizontal">
        <table class="table table-border table-bordered table-bg">
        <thead>
            <tr class="text-c ">
                <th width="80">序号</th>
                <th>用户</th>
                <th class="text-c">角色&emsp;
                <a th:onclick="details()" id="details" class="label label-success radius">查看详情</a>
                <!-- <abbr title="超级管理员：主机管理，监测点管理，数据查询，人员管理&#10;管理员：主机管理，监测点管理，数据查询&#10;普通用户：数据查询">查看详情</abbr> -->
                </th>
                <th class="text-c">修改权限</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-c " th:each="list,iterStat:${list}">
                    <td th:text="${iterStat.index+1}"></td>
                    <td th:text="${list.name}"></td>
                    <td th:text="${list.loginflag}==1?'超级管理员':(${list.loginflag}==2?'管理员':'普通用户')"></td>
					<td>
						<a th:onclick="update([[${list.id}]])" class="label label-primary radius">修改</a>
					</td>
                </tr>
            </tbody>
        </table>

    </form>
</article>
</body>
<script>
	function update(id) {
		layer.open({
			type : 2,
			area : [ '400px', '300px' ],
			fixed : false,
			maxmin : true,
			anim : 3,
			title : '修改权限',
			content : '/userQx/updateQx?id=' + id
		});
	}
	function closeLayer(str){
        layer.closeAll();
        window.location.href = "/userQx/findAll"
    }
	function details(){
		layer.alert("超级管理员：</br>&emsp;&emsp;主机管理，检测点管理，数据查询，人员管理</br>管理员：</br>&emsp;&emsp;主机管理，检测点管理，数据查询</br>普通用户：</br>&emsp;&emsp;数据查询")
	}
</script>
</html>