<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy23.mapper.BaseMapper">
	<update id="creatASKHis" parameterType="java.lang.String">
		CREATE TABLE Ask_history_${tableName}(
		host_id varchar(20) NULL,
		a1 float NULL,
		a2 float NULL,
		a3 float NULL,
		a4 float NULL,
		a5 float NULL,
		a6 float NULL,
		a7 float NULL,
		a8 float NULL,
		a9 float NULL,
		a10 float NULL,
		a11 float NULL,
		a12 float NULL,
		a13 float NULL,
		a14 float NULL,
		a15 float NULL,
		a16 float NULL,
		a17 float NULL,
		a18 float NULL,
		a19 float NULL,
		a20 float NULL,
		a21 float NULL,
		a22 float NULL,
		a23 float NULL,
		a24 float NULL,
		a25 float NULL,
		a26 float NULL,
		a27 float NULL,
		a28 float NULL,
		a29 float NULL,
		a30 float NULL,
		a31 float NULL,
		a32 float NULL,
		a33 float NULL,
		a34 float NULL,
		a35 float NULL,
		a36 float NULL,
		a37 float NULL,
		a38 float NULL,
		a39 float NULL,
		a40 float NULL,
		a41 float NULL,
		a42 float NULL,
		a43 float NULL,
		a44 float NULL,
		a45 float NULL,
		a46 float NULL,
		a47 float NULL,
		a48 float NULL,
		a49 float NULL,
		history_date datetime NULL
		)
	</update>
</mapper>